.carousel-item {
  transition: transform 1.9s ease-in-out !important; /* Smooth transition with 1.5 seconds duration */
}


.carousel-image {
  max-height: 450px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 16px;
  color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.body-content
{
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  .body-content {
    margin-top: 130px; /* Margin for small screens */
  }
}